*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Josefin Sans','sans-serif';
    background: linear-gradient(to bottom right, rgb(245, 6, 6),rgb(45, 144, 226));
    background-attachment: fixed;
    background-repeat: no-repeat;

}
body{
    overflow-x: hidden;
}
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top:40px;
    padding-left: 5%;
    padding-right: 5%;

}
nav ul li {
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}
nav ul li a{
    font-size: 20px;
    color: white;
    text-decoration: none;
    transition: .3s;
}
nav ul li a:hover{
    color: #252320;
}
.logo{
    height: 70px;
}
.button{
    border: none;
    background: rgb(11, 253, 11);
    padding: 12px 30px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold; 
    transition: .4s;
}
.button:hover{
    transform: scale(1.3);
    cursor: pointer;
}
.content{
    margin-top: 0%;
    max-width: 100%;
    align-items: center;
    text-align: center; 
}
.content h1{
    margin-top: 10%;
    font-size: 25px;
    color: rgb(255, 255, 255);
    font-weight: 600;
    transition: .5s;
}
.content p{
    margin-top: 2%;
    margin-left: 5%;
    font-size: 50px;
    color: rgb(76, 193, 240);
    font-weight: 600;
    transition: .5s;
}
.btn{
    font-family: 'consolas';
    font-size: 20px;  
    color: #fff;
    margin: 5px;
    padding: 7px 22px;
    border: 1px solid coral;
    border-radius: 25px;
    text-decoration: none;
    transition: .2s;
}
.btn:hover{
    background:rgb(255, 255, 255);
    color: coral;
}
.abt{
    text-align: center;
    padding: 2%;
    color: rgb(13, 190, 235);
    letter-spacing: 5px;
    transition: .4s;
}
.schooling{
    border: solid 2px white;
    padding: 15px;
    border-radius: 30px;
    margin:5%;
    transition: .2s;
}
.schooling h3{
    color: rgb(245, 188, 1);
    letter-spacing: 1px;
}
.schooling p a{
    text-decoration: none;
    color: black;
}
.sublist{
    border:none;
    padding-left:30px;
}
.bx{
    text-align: center;
    margin: 5%;
}
.resume{
    border:solid 1px coral;
    padding: 15px;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    text-decoration: none;
    font-weight: bold; 
    transition: .4s;
}
.resume:hover{
    color: coral;
    background: rgb(255, 255, 255);
}